
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f4d97e;
}
.page-header{
    display: flex;
    justify-content: space-between;
    background-color: #f13861;
    align-content: center;
    box-shadow:0px 2px #ff819c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    

}
.logo {
    padding: 20px 10px 20px 30px;
}

img {
    height: 60px;
}

.profile {
    padding-right: 30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}

.profile > div {
    text-align: center;
}

.big-icon {
    padding:5px;
    border: solid;
    border-radius: 5px;
}

.greet {
    padding-top:10px;
    font-family: sans-serif;
    color:white;
    
}

.restau-row {
    display: flex;
    gap:10px;
    justify-content: center;
    padding:20px;
}
.restau-row>div{
    background-color: #f13861;
    height: 400px;
    width:350px;
    margin:20px;
    border-radius: 40px;
    transition:all 1s ease;
}

.restau-row img { 
    height:220px;
    width:350px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.inner-title {
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    font-family: sans-serif;
}

.description {
    padding-left:20px;
    padding-right:20px;
    font-family: sans-serif;
}

.type {
    float: right;
    margin: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.restau-row>div:hover {
    transform: scaley(1.1) scaleX(1.1);
    cursor:pointer;
    box-shadow: 2px 2px 6px 6px #fcff44;
    transition: 0.4s;
}
a:visited{
    color: #000000;
}
a:link {
    
    color: #000000;
    text-decoration: none;
    margin: 15px 0;
    font-family: sans-serif;
}
a:hover{
    text-decoration: underline;
}

.features {
    display: flex;
}

#admin {
    display: none;
    
}
